*{
    margin: 1;
    padding: 0;
    border: 0;
}
.box{
background: url(../img/1.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
table {
    border: 1px solid black;
}
td {
    padding: 50px;
    background-color: azure;
}
th {
    padding: 50px;
    background-color: azure;
}
ul
{
    margin:auto;
    width: 50%;
    list-style-type: none;
}
li {
    padding: 5px;
    background-color: azure;
}

body
{
    margin: 0;
    padding: 0;
    background: #E0FFFF;
}
.search-box
{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 60px;
    padding: 10px;

}
.box
{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    table {
        border: 10px solid black;
    }
    td {
        padding: 50px;
        background-color: azure;
    }
    th {
        padding: 50px;
        background-color: azure;
    }
    ul
    {
        margin:auto;
        width: 50%;
        list-style-type: none;
    }
    li {
        padding: 5px;
        background-color: azure;
    }
    
    body
    {
        margin: 0;
        padding: 0;
        background: #E0FFFF;
    }

    nav{
        width: 960px;
        margin: 0 auto;
        background:#2f3640 ;
    }
    nav:before{
        content: "";
        display: block;
        height: 50px;
        width: 100%;
        background: #2f3640;
        position: absolute;
        left: 0;
        z-index: -1;
    } 
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 50px;

    }
    ul li{
        float: left;
    }
    ul li a{
        color: #000;
        display: block;
        height: 50px;
        padding: 0 30px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 50px;

    }
    ul li a:hover{
        background: #d34d43;

    }