*{
    margin: 0;
    padding: 0;
    border: 0;
}
.box{
background: url(../img/1.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
table {
    border: 1px solid black;
}
td {
    padding: 50px;
    background-color: azure;
}
th {
    padding: 50px;
    background-color: azure;
}
ul
{
    margin:auto;
    width: 50%;
    list-style-type: none;
}
li {
    padding: 5px;
    background-color: azure;
}